@import 'tailwindcss';
@import 'swiper/css/bundle';

@custom-variant dark (&:where(.dark, .dark *));
@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@theme {
    --font-vasir: 'vasir';
}
